<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/admin/common/adminHeader.html :: header}"></head>

<body>

	<div th:replace="~{/admin/common/adminHeader.html :: navbar}"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" th:object="${order}">
				<h3>
					Order - <span th:text="${order.id}"></span>
				</h3>
				<h3>
					For - <span th:text="${order.user}"></span>
				</h3>
				<h3>
					Address - <span th:text="${order.address}"></span>
				</h3>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Product</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${items}">
							<td th:text="${item.product}"></td>
							<td th:text="${item.quantity}"></td>
							<td th:text="${item.product}"></td>
							<td th:text="${item.total}">-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="~{/admin/common/adminHeader.html :: body-scripts}"></div>

</body>

</html>