<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/common/header :: header"></head>

<body>
	
	<div th:replace="common/header :: navbar"></div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3>
					Products
				</h3>
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Title</th>
							<th>Stock</th>
							<th>Price</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${products}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.title}"></td>
							<td th:text="${p.stock}"></td>
							<td th:text="${p.price}"></td>
							<td>
								<form th:action="@{/productEdit}" action="#" method="post" th:object="${p}">
									<input name="id" type=hidden th:value="${p.id}">
									<button class="btn btn-secondary" type="submit" name="editProduct">Edit</button>
								</form>
							</td>
							<td>
								<form th:action="@{/productDelete}" action="#" method="post" th:object="${p}">
									<input name="id" type=hidden th:value="${p.id}">
									<button class="btn btn-danger" type="submit" name="deleteProduct">Delete</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: body-scripts"></div>
	
</body>

</html>